---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex flex-col items-center justify-center sm:flex-row">
        <img
          src="/assets/headshot.jpg"
          alt="Jessica Shi"
          class="mb-4 mr-8 w-1/3 rounded-3xl object-cover sm:mb-0 sm:aspect-[2/3]"
        />
        <div>
          <h2
            id="title"
            class="before:animate-typewriter after:animate-caret relative w-[max-content] font-mono before:absolute before:inset-0 before:bg-white after:absolute after:inset-0 after:w-[0.125em] after:bg-black"
          >
            hi i'm jessica 👋
          </h2>
          <!-- <a
            target="_blank"
            href="/rss.xml" 
            class="rss-link"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
              ><path
                d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
              ></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
              ></path><circle cx="6" cy="18" r="2"></circle>
            </svg>
            <span class="sr-only">RSS Feed</span>
          </a> -->

          <p>
            I’m a first-year <b>PhD Student in Operations Management</b> at New York
            University Stern School of Business. Currently, I work with Professor
            Divya Singhvi on generative AI and human-AI collaboration in operations
            for social good. I graduated from Columbia University in 2024 with a
            degree in operations research.
          </p>
          <p>email: jjs9997 at stern.nyu.edu</p>
          <p>
            <LinkButton
              className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
              href="https://github.com/satnaing/astro-paper#readme"
            >
              CV
            </LinkButton>
          </p>
          {
            // only display if at least one social link is enabled
            socialCount > 0 && (
              <div class="social-wrapper">
                <div class="social-links">Social Links:</div>
                <Socials />
              </div>
            )
          }
        </div>
      </div>
    </section>

    <Hr />

    <section class="mt-4" id="research">
      <h2 id="section-title">-research-</h2>
      <h2 id="sub-section-title">Working Papers</h2>
      <dl>
        <dt>
          Density and Affinity Dependent Social Segregation and Arbitrage
          Equilibrium in a Multi-Class Schelling Game
        </dt>
        <dd>
          - with Venkat Venkatasubrmanian, Leo Goldman, Arun Sankar E.M.,
          Abhishek Sivaram
        </dd>
        <dt>
          Urban design for active mobility: The impact of transportation network
          geographic density on children’s trips to school
        </dt>
        <dd>
          - with Brady Bushover, Sarah Forrest, Ariana N. Gobaud, Christina A.
          Mehranbod, Leah E. Roberts, Christopher N. Morrison
        </dd>
      </dl>
    </section>

    <Hr />
    <section class="mt-10">
      <h2 class="mt-4" id="section-title">-awards-</h2>
      <li class="mt-4">
        The Stephen D. Guarino Memorial Award in Industrial Engineering and
        Operations Research, Columbia University, 2024
      </li>
      <li>Senior Marshal, Columbia University, 2024</li>
      <li>Second Place at Startup Columbia Technology Track, 2024</li>
      <li>Amazon SCOT INFORMS Scholarship Recipient, 2023</li>
      <li>Tau Beta Pi Junior Inductee, 2023</li>
      <li>
        Generation Google Scholarship for Supply Chain and Fulfillment, 2022
      </li>
    </section>

    <section class="mt-10">
      <h2 class="mt-4" id="section-title">-teaching-</h2>
      <h2 id="sub-section-title">Teaching Assistantship</h2>
      <li class="mt-4">
        Simulation Modeling & Analysis, Columbia University, Spring 2024
      </li>
      <li>Introduction to Econometrics, Columbia University, Fall 2023</li>
      <li>Intermediate Microeconomics, Columbia University, Spring 2023</li>
      <li>Principles of Economics, Columbia University, Fall 2022</li>
    </section>

    <section class="mb-10 mt-10">
      <h2 class="mt-4" id="section-title">-other experience-</h2>
      <li>Software Engineering Intern @ Asana, Summer 2023</li>
      <li>Software Engineering Intern @ Microsoft Maps, Summer 2022</li>
      <li>Software Engineering Intern @ US Census Bureau, Summer 2021</li>
    </section>
    <Hr />
  </main>

  <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main> -->

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
  #section-title {
    @apply mb-4 text-center text-2xl font-semibold tracking-wide;
  }
  #sub-section-title {
    @apply text-xl font-semibold tracking-wide;
  }
  #title {
    @apply text-3xl;
  }
  dt {
    @apply mt-4 font-semibold;
  }
  dd {
    @apply mb-3 ml-4;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
